{% extends "base.html" %}
{# phonebook/templates/phonebool/CDL.html #}
{% load render_table from django_tables2 %}
{% load static %}

{% block title %}
    Справочник телефонов
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}
{% block body_class %}

    <form class="form-inline my-2 my-lg-0" action="{% url 'phone_list_url' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Введите текст" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
    </form>
{% endblock %}
{% block content %}
    {% render_table tables %}

{% endblock %}