{% extends "base.html" %}
{# phonebook/templates/phonebool/CDL.html #}
{% load render_table from django_tables2 %}
{% load static %}

{% block title %}
    Вход в АСУРД
{% endblock %}
{% block body_class %}

{% endblock %}
{% block content %}
    <form action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
        <dev><H1>  Введите данные</H1>
                </dev>
        <div class="form-row align-items-center">


                {{ form.as_p }}
                <button class="btn btn-success" type="submit">Войти</button>
        </div>

    </form>

{% endblock %}
