{% extends "base.html" %}
{% load static %}

{% block title %}
АСУРД

{% endblock %}
{% block body_class %}

{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<H1>Расчет детализации по подразделениям:</H1>

<p>Выберите подразделение</p>

<select name="ch_name" title="{{ ch_org }}">
<optgroup label="Подразделения" >
    {% for s in o_name %}
<option data-method="post" name="ch_name" value="{{ s }}" >

<ul>

    <li>{{ s }}</li>

</ul>
</option>
{% endfor %}
</optgroup>
</select>



<p>Укажите диапозон дат для расчета</p>
<p><input name="d1" type="date" placeholder="Введите начальную дату"></p>
<p><input name="d2" type="date" placeholder="Введите конечную дату"></p>
<p>Сумма разговоров за {{ ch_org }} {{ o_sum }}</p>
<button class="btn btn-outline-info" type="submit">Посчитать</button>
<button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="{% url 'get_data_for_org' %}">Выгрузить файл с указанными датами</button>

</form>

{% endblock %}